priority -50

snippet argparse "Argument parser"
while [[ "$#" -gt 0 ]]; do case \$1 in
	${1:-o|--option}) ${2:option=1};;
	*) echo "Unknown parameter: \$1"; exit 1;;
esac; shift; done$0
endsnippet

snippet scriptdir "Script directory"
SCRIPT_DIR="$(cd "$(dirname "${BASH_SOURCE[0]}")" >/dev/null 2>&1 && pwd)"
endsnippet
