[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
	ignore = dirty
[submodule "bundle/ListToggle"]
	path = bundle/ListToggle
	url = https://github.com/Valloric/ListToggle.git
	ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
	ignore = dirty
[submodule "bundle/complete_parentheses"]
	path = bundle/complete_parentheses
	url = git@github.com:m-pilia/vim-complete-parentheses.git
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	ignore = dirty
[submodule "bundle/ctrlsf.vim"]
	path = bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
	ignore = dirty
[submodule "bundle/diffchar.vim"]
	path = bundle/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim.git
	ignore = dirty
[submodule "bundle/vim-eclim-project"]
	path = bundle/vim-eclim-project
	url = git@github.com:m-pilia/vim-eclim-project.git
	ignore = dirty
[submodule "bundle/fzf.vim"]
	path = bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
	ignore = dirty
[submodule "bundle/ghcmod-vim"]
	path = bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
	ignore = dirty
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
	ignore = dirty
[submodule "bundle/haskellmode-vim"]
	path = bundle/haskellmode-vim
	url = https://github.com/lukerandall/haskellmode-vim.git
	ignore = dirty
[submodule "bundle/hexmode"]
	path = bundle/hexmode
	url = https://github.com/fidian/hexmode.git
	ignore = dirty
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = https://github.com/JuliaLang/julia-vim.git
	ignore = dirty
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/python-mode/python-mode
	ignore = dirty
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/vim-python/python-syntax.git
	ignore = dirty
[submodule "bundle/vim-quickcompile"]
	path = bundle/vim-quickcompile
	url = git@github.com:m-pilia/vim-quickcompile.git
	ignore = dirty
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
	ignore = dirty
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
	ignore = dirty
[submodule "bundle/vim-smarthome"]
	path = bundle/vim-smarthome
	url = git@github.com:m-pilia/vim-smarthome.git
	ignore = dirty
[submodule "bundle/vim-swap-lines"]
	path = bundle/vim-swap-lines
	url = git@github.com:m-pilia/vim-swap-lines.git
	ignore = dirty
[submodule "bundle/swapstrings"]
	path = bundle/swapstrings
	url = git@github.com:m-pilia/swapstrings.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule "bundle/vim-toggle-comments"]
	path = bundle/vim-toggle-comments
	url = git@github.com:m-pilia/vim-toggle-comments.git
	ignore = dirty
[submodule "bundle/vim-twiddle-case"]
	path = bundle/vim-twiddle-case
	url = git@github.com:m-pilia/vim-twiddle-case.git
	ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
	ignore = dirty
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
	ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
	ignore = dirty
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
	ignore = dirty
[submodule "bundle/vim-erlang-omnicomplete"]
	path = bundle/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
	ignore = dirty
[submodule "bundle/vim-erlang-runtime"]
	path = bundle/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime.git
	ignore = dirty
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
	ignore = dirty
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
	ignore = dirty
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
	ignore = dirty
[submodule "bundle/vim-ispc"]
	path = bundle/vim-ispc
	url = https://github.com/jez/vim-ispc
	ignore = dirty
[submodule "bundle/vim-loves-dafny"]
	path = bundle/vim-loves-dafny
	url = https://github.com/mlr-msft/vim-loves-dafny.git
	ignore = dirty
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
	ignore = dirty
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
	ignore = dirty
[submodule "bundle/vim-perl"]
	path = bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl.git
	ignore = dirty
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
	ignore = dirty
[submodule "bundle/vim-racket"]
	path = bundle/vim-racket
	url = https://github.com/wlangstroth/vim-racket.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
	ignore = dirty
[submodule "bundle/vimtex"]
	path = bundle/vimtex
	url = https://github.com/lervag/vimtex
	ignore = dirty
[submodule "bundle/vim-vis"]
	path = bundle/vim-vis
	url = git@github.com:m-pilia/vim-vis.git
	ignore = dirty
[submodule "bundle/vim-visual-mode-selection"]
	path = bundle/vim-visual-mode-selection
	url = git@github.com:m-pilia/vim-visual-mode-selection.git
	ignore = dirty
[submodule "bundle/vrod"]
	path = bundle/vrod
	url = https://github.com/MicahElliott/vrod.git
	ignore = dirty
[submodule "bundle/conque.vim"]
	path = bundle/conque.vim
	url = https://github.com/wkentaro-archive/conque.vim.git
	ignore = dirty
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
	ignore = dirty
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/vim-auto-persistent-undo"]
	path = bundle/vim-auto-persistent-undo
	url = git@github.com:m-pilia/vim-auto-persistent-undo.git
	ignore = dirty
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = dirty
[submodule "bundle/python-mode-workaround"]
	path = bundle/python-mode-workaround
	url = git@github.com:m-pilia/python-mode.git
	ignore = dirty
